@media screen and (max-width: 1025px) {
    #form-block {
        width: 50%;
    }
}
@media screen and (max-width: 1000px) {
    .navbar-collapse ul li a{
        text-align: center;
        margin-top: 15px;
    }
    .my-nav-class ul li a:hover:after{
        width: 10%;
    }
    .carousel-item img{
        width: auto;
        height: 100vh;
    }
    
}
@media screen and (max-width: 992px) {
    a, p, .my-nav-link{
        font-size: 1.10rem;
    }
    body{
        background-size: 200%;
    }
    .col-md-6 .card{
        margin-bottom: 50px;
    }
    .lower-margin{
        margin-top: 0px !important;
    }
    #cart{
        margin-top: 0px;
    }
    #about-company .container h5, #form-block{
        width: 100% !important;
    }
}
@media screen and (max-width: 760px) {
    #canvas{
        display: none !important;
    }
    #messageForMobile{
        display: flex;
    }
}
@media screen and (max-width: 600px) {
    .my-nav-class ul li a:hover:after{
        width: 15%;
    }
    body{
        background-size: 250%;
    }
}
@media screen and (max-width: 577px) {
    footer .copyright{
        flex-direction: column;
    }
    footer .copyright h5{
        padding-right: 0px;
        padding-bottom: 10px;
        border-right: none;
    }
    footer .copyright h5::after{
        content: '';
        display: block;
        width: 90px;
        height: 4px;
        border-radius: 4px;
        background-color: white;
        margin: auto;
        margin-top: 7px;
    }
    footer .copyright a{
        margin-left: 0px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 520px) {
    h1{
        font-size: 3rem;
    }
}
