@media screen and (max-width: 1025px) {
    #form-block {
        width: 50%;
    }
}
@media screen and (max-width: 1000px) {
    .navbar-collapse ul li a{
        text-align: center;
        margin-top: 15px;
    }
    .my-nav-class ul li a:hover:after{
        width: 10%;
    }
    .carousel-item img{
        width: auto;
        height: 100vh;
    }
    
}
@media screen and (max-width: 992px) {
    a, p, .my-nav-link{
        font-size: 1.10rem;
    }
    body{
        background-size: 200%;
    }
    .col-md-6 .card{
        margin-bottom: 50px;
    }
    .lower-margin{
        margin-top: 0px !important;
    }
    #cart{
        margin-top: 0px;
    }

}
@media screen and (max-width: 600px) {
    .my-nav-class ul li a:hover:after{
        width: 15%;
    }
    body{
        background-size: 250%;
    }
}
@media screen and (max-width: 520px) {
    h1{
        font-size: 3rem;
    }
}