@font-face { font-family: Comfortaa; src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf'); }
*{ padding: 0px; margin: 0px; box-sizing: border-box; font-family: 'Comfortaa'; list-style-type: none;}

:root{
    /* B/W */
    --white : #fff;
    --black : #000;

    --cambridge-blue: #90C1AC;
    --ocean-green: #6FB89B;
    --mint: #45AC84;
    --green-cyan: #2A956B;
    --green-cyan-2: #26825d;
    --tropical-rain-forest: #267766;
    --tropical-rain-forest-v2: #1F6455;
    --brunswick-green: #1A4E42;

    --yellow: #ebdf38;
    --orange: #ebc738;
    --red: #eb3838;
    --blue: #388eeb;
    --purple: #8638eb;
}



/* --- DEFAULT TAGS WITH MY OVERRIDES --- */
body{
    background-image: url('../img/body-background.png');
    background-position: center;
    background-size: 100%;
}
/* --- DEFAULT TAGS WITH MY OVERRIDES END --- */



/* --- CLASSES WITH SHARED VALUES --- */
.bg-green-cyan, .btn-add-to-cart, .bg-white-shadow:hover{
    background-color: var(--green-cyan);
}
.bg-cambridge{
    background-color: var(--cambridge-blue);
}
.bg-green-dark, .bg-cambridge:hover, #form-block, .btn-outline-dark-green:hover{
    background-color: var(--tropical-rain-forest-v2);
    color: var(--white);
}
.carousel-item img, #about-background-image{
    width: 100%;
}
.carousel, .carousel-item, .carousel-item img, #about-background-image, #about-bckg-jpg{
    height: 100vh;
}
#logo-image, #cart, #cart-item-counter, .btn-add-to-cart, .color-swatch{
    border-radius: 50%;
}
.my-nav-class, .container .bg-green-cyan, .modal-content, #about-company .container .bg-green-dark, .bg-cambridge, .bg-white-shadow, #canvas, #left-side, .dropdown-menu, #color-picker-block, #color-picker, #about-bckg-jpg h1, #form-block{
    border-radius: 20px;
}
.my-rounded, .card, .card-body .bg-green-cyan, .toast, .toast .bg-green-cyan, .modal .modal-dialog .modal-content .modal-body .modal-image, #about-company .container h5{
    border-radius: 10px;
}
.my-nav-class ul li a:hover, .my-text-color:hover{
    color: var(--cambridge-blue);
}
.my-nav-class, .my-text-color, .my-nav-class ul li a, .my-nav-class ul li a:after, .card-img-top, #cart, .bg-cambridge, .bg-white-shadow, #left-side{
    transition: 0.4s;
}
.hover-for-more:hover .card-img-top, .card-img-top:hover, #cart:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.hover-for-more:hover .overlay-show-more{
    visibility: hidden;
}
.added-items-block, .additional-information-block, #left-side{
    background-color: rgba(144, 193, 172, 0.2);
}


/* --- CLASSES WITH SHARED VALUES END --- */



/* --- NAVIGATION BAR --- */
#logo-image{
    background-image: url('../img/Logo-VoA-3x.png');
    background-size: 100%;
    width: 30px;
    height: 30px;
    margin: 0 1rem;
}
.my-nav-class{
    width: 90%;
    top: 20px;
    left: 0;
    right: 0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 3;
}
.my-nav-class ul li a{
  position: relative;
}
.my-nav-class ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: var(--ocean-green);
  height: 4px;
  border-radius: 4px;
}
.my-nav-class ul li a:hover:after{
  width: 65%;
}
.navbar-collapse ul li a{
    margin-right: 15px;
}
.my-active-link{
    color: var(--ocean-green) !important;
}

/* --- NAVIGATION BAR END --- */



/* --- MAIN --- */
.my-text-color{
    color: var(--tropical-rain-forest-v2);
}
.my-mt{
    margin-top: 130px;
}
.card-img-top:hover{
    border-bottom-right-radius: calc(0.6rem - 1px);
    border-bottom-left-radius: calc(0.6rem - 1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
    cursor: pointer;
}
#cart{
    right: 10%;
    bottom: 5%;
    width: 60px;
    height: 60px;
    z-index: 4;
}
#cart:hover{
    transform: scale(1.05);
}
#cart p{
    top: -3px;
    right: 3px;
}
#cart-item-counter{
    width: 30px;
    height: 30px;
    left: 37px;
    top: -7px;
    opacity: 60%;
}
.modal-image{
    width: 85%;
}
.overlay-show-more{
    padding: 2px 0px;
}
.btn-add-to-cart{
    width: 50px;
    height: 50px;
    border: none;
}
#canvas{
    margin: 200px auto;
    height: 600px;
    border: 3px solid var(--green-cyan);
}
#left-side{
    width: 280px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 3px solid var(--green-cyan);
}
#left-side button, #left-side label, #color-picker-block{
    width: 190px;
}
#left-side form input[type="file"]{
    display: none;
}
.bg-white-shadow{
    background-color: var(--white);
}
.bg-white-shadow:hover{
    color: var(--white);
}
.dropdown-menu{
    margin: 5px auto !important;
    max-width: 180px;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
}
#color-picker-block{
    height: 310px;
}
#color-picker{
    width: 90%;
    height: 170px;
    border: 3px solid rgba(0, 0, 0, 0.1);
}
.color-swatch-block{
    width: 80%;
}
.color-swatch{
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    cursor: pointer;
}
.color-swatch:hover{
    border: 2px solid var(--black);
    transform: scale(1.3, 1.3);
}
#right-side{
    width: 100%;
}
#about-bckg-jpg{
    background-image: url('../img/about-bck.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#about-company .container h5{
    background-color: rgba(144, 193, 172, 0.2);
}
#form-block{
    margin: 50px auto;
    padding: 10px 20px;
    color: white;
}









/* COLOR SWATCH CLASSES */
.bg-tropical, #color-picker{
    background-color: var(--tropical-rain-forest);
}
.bg-yellow{
    background-color: var(--yellow);
}
.bg-orange{
    background-color: var(--orange);
}
.bg-red{
    background-color: var(--red);
}
.bg-white{
    background-color: var(--white);
}
.bg-black{
    background-color: var(--black);
}
.bg-blue{
    background-color: var(--blue);
}
.bg-purple{
    background-color: var(--purple);
}
/* --- MAIN END --- */



/* --- FOOTER --- */
footer{
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 -8px 32px 0 rgba(0, 0, 0, 0.37);
}
footer .copyright h5{
    margin-bottom: 0px;
}
/* --- FOOTER END --- */
